:root {
  --logo-color-two: rgba(0, 0, 0, 1);
  --accent-color: #2196f3;
  --primary-text-color: rgba(33, 33, 33, 1);
  --paragraph-text-color: rgba(117, 117, 117, 1);
  --primary-white-color: rgba(255, 255, 255, 1);
  --aside-bg-c: rgba(245, 244, 250, 1);
  --bg-color-button: rgba(245, 244, 250, 1);
  --social-link-color: #afb1b8;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--primary-white-color);
  color: var(--paragraph-text-color);
  letter-spacing: 0.03em;
  font-style: normal;
  font-size: 14px;
  line-height: 1.8;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.picture {
  display: flex;
}

/* ------------------Header */
.header-box {
  display: flex;
  align-items: center;
  padding: 32px 0;
}

/* -------------------logo */
.logo-font {
  margin-right: 93px;

  color: var(--primary-text-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.logo-accent-color {
  color: var(--accent-color);
}

/* ---------------------Navigation */
.navigation-link {
  display: flex;
  justify-content: flex-start;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-link .nav-child + .nav-child {
  margin-left: 50px;
}
.link {
  position: relative;
  padding: 40px 0;
  color: var(--primary-text-color);
}

.navigation-link .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.navigation-link .link:hover,
.navigation-link .link:focus {
  color: var(--accent-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-link .curr-color {
  color: var(--accent-color);
}

.current::after {
  content: '';
  display: block;
  position: absolute;
  background-color: var(--accent-color);
  width: 100%;
  height: 4px;
  border-radius: 4px;
  bottom: 0;
  right: 0;
  opacity: 1;
}

/*===================================================HEADER CONTACT BLOK */
.contact-item {
  display: flex;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  padding-left: 10px;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-item .contact-child + .contact-child {
  margin-left: 50px;
}
.child-icon {
  width: 16px;
  height: 12px;
  margin: 0;
  margin-right: 10px;
  fill: currentColor;
}
.child-icon-second {
  width: 10px;
  height: 16px;
  margin: 0;
  margin-right: 10px;
  fill: currentColor;
}

.contact-item .item {
  color: var(--paragraph-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-item .item:hover,
.contact-item .item:focus {
  color: var(--accent-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* ---------------------------------------hero */
.hero {
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero-img.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  padding-top: 180px;
  padding-bottom: 220px;
  text-align: center;
  background-color: #2f303a;
}
.hero-title {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
.button {
  padding: 10px 32px;
  border-radius: 4px;
  border: none;

  font-family: 'Roboto', sans-serif;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;

  cursor: pointer;
}
/* -------------------------------МОДАЛЬНОЕ ОКНО */
.backdrop {
  display: flex;
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.button-close {
  position: absolute;
  right: 2%;
  top: 2%;
  min-width: 30px;
  min-height: 30px;
  background-color: var(--primary-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;

  padding: 6px;
  margin: 0;
  display: flex;
  justify-content: center;
}

.icon-positon {
  position: absolute;
  display: flex;
  align-items: center;
}
.button-close:hover,
.button-close:focus use {
  fill: var(--accent-color);
}

.modal-container {
  padding: 40px;
}
.mod-cont-h1 {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: start;
}
.modal-form {
  display: flex;
  flex-direction: column;
  text-align: start;
}
.modal-label {
  text-align: start;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--paragraph-text-color);
}

.svg-block {
  position: relative;
  display: flex;
  flex-direction: column;
}
.modal-input {
  padding-left: 42px;
  min-height: 40px;
  margin-bottom: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.modal-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-svg {
  position: absolute;
  top: 11px;
  left: 12px;
  display: inline-block;
  width: 18px;
  height: 18px;
}
.modal-input:focus ~ .modal-svg {
  fill: var(--accent-color);
}
.modal-button {
  padding: 10px 56px;
  margin: 0 auto;
  max-width: 200px;
  border-radius: 4px;
  border: none;

  font-family: 'Roboto', sans-serif;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;

  cursor: pointer;
}
.comment-textarea {
  resize: none;
  text-align: start;
  padding: 12px 16px;
  margin-bottom: 20px;
  min-height: 120px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}
.comment-textarea:focus {
  outline: none;
  border-color: var(--accent-color);
}
textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.checkbox-link-color {
  color: var(--accent-color);
}
.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 30px 0;
}

.checkbox-block {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.checkbox-icon {
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-text-color);
  border-radius: 3px;
}
.checkbox-block:checked + .checkbox-icon {
  border-color: transparent;
  background-color: var(--accent-color);
  background-image: url(../images/icon-check.svg);
  background-origin: border-box;
  background-size: contain;
}
.form-p {
  padding: 0;
  margin: 0;
}

/* -------------------------Benefits */
.hero-list-item {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-evenly;
}
.hero-list-item .benefits {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.hero-list-item .h-l-i-child + .h-l-i-child {
  margin-left: 30px;
}
.box-icon {
  /* width: 270px; */
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
  justify-content: center;
  /* padding: 25px 100px; */
}
.paragraph {
  margin-top: 0;
  margin-bottom: 0;
  width: 270px;

  font-size: 14px;
  line-height: 1.8;
}

/* ------------------------------Company services */
.company-services {
  padding-top: 0;
}

.services-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}
.service-pic {
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
}
.service-pic .picture + .picture {
  margin-left: 30px;
}

.service-pic-bg {
  position: relative;
}
.service-pic-bg::before {
  display: inline-block;

  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.service-pic-text {
  margin: 0;
  padding: 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-white-color);

  position: absolute;
  left: 83px;
  bottom: 27px;
}

/* --------------------------------OUR TEAM */
.team-staff-block {
  background-color: #f5f4fa;
}
.team-staff-title {
  padding: 0;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}
.team-block {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-evenly;
}
.team-block .team-profile + .team-profile {
  margin-left: 30px;
}
.team-profile {
  /* border: 1px solid #eeeeee; */
  background-color: #fff;
  margin: 0;
  padding: 0;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.info-card {
  margin: 0;
  padding-top: 30px;
  padding-bottom: 30px;
}

.staff-name {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}
.staff-job {
  margin: 0;

  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 16px;
}
/* -----------------staff-profile-links-box */
.link-group {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: center;
}
.box-link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 30px;
  justify-content: center;
  padding: 12px;
  color: var(--social-link-color);

  transition-property: background-color color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.link-group .b-l-margin + .b-l-margin {
  margin-left: 10px;
}
.box-link:hover,
.box-link:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);

  transition-property: background-color color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link {
  fill: currentColor;
}
/*---------------------------------------- OUR CLIENT */

.our-client {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.clients-group {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: center;
}
.box-logo {
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid var(--social-link-color);
  border-radius: 4px;
  justify-content: center;
  color: var(--social-link-color);
  padding: 16px 32px;

  transition-property: background-color color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.box-logo:hover,
.box-logo:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);

  transition-property: background-color color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-group .bl-margin + .bl-margin {
  margin-left: 30px;
}

.color-logo-client {
  fill: currentColor;
}
/* ---------------------------------------Footer */

footer {
  background-color: #2f303a;
}
.footer {
  padding: 60px 0;
}
.accent-footer-reverse {
  color: var(--primary-white-color);
}
.logo-footer-margin {
  margin-bottom: 20px;
}
.address {
  color: var(--primary-white-color);

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
}
.address-item {
  margin-top: 0;
  margin-bottom: 9px;
}
.contact-footer {
  margin: 0;
  padding: 0;
}
.contact {
  color: #ffffff99;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.con-ft-child {
  margin-bottom: 9px;
}
.contact:hover,
.contact:focus {
  color: var(--accent-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-group {
  display: flex;
  margin: 0;
  padding: 0;
}
/* --------------------------------------footer- joint-box */
.joint-group {
  display: flex;
  padding: 0;
  margin: 0;
}
.joint-group .jl-margin + .jl-margin {
  margin-left: 10px;
}
.joint {
  margin-left: 70px;
}
.joint-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.joint-link {
  display: flex;
  content: '';
  width: 44px;
  height: 44px;
  border-radius: 30px;
  justify-content: center;
  padding: 12px;
  color: var(--primary-white-color);
  background: rgba(255, 255, 255, 0.1);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.joint-link:hover,
.joint-link:focus {
  background-color: var(--accent-color);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.color-link-joint {
  fill: currentColor;
}
/* ----------------------- */
.footer-form {
  margin-left: 88px;
}
.footer-label {
  display: flex;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--primary-white-color);
}
.footer-input {
  min-width: 358px;
  height: 50px;
  padding-left: 16px;
  margin: 0;
  color: var(--primary-white-color);

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
}

.footer-button {
  display: inline-flex;
  align-items: center;
  margin-left: 12px;

  padding-top: 10px;
  padding-left: 29px;
  padding-right: 28px;
  padding-bottom: 10px;
  border-radius: 4px;
  border: none;

  font-family: 'Roboto', sans-serif;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;

  cursor: pointer;
}
.button-svg {
  margin-left: 10px;
}
/*--------------------------------------------------- PORTFOLIO */

.portfolio {
  border-top: 1px solid #eeeeee;
}

.button-list {
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 50px;
  padding-left: 0;
}
.button-list .bt-item + .bt-item {
  margin-left: 8px;
}

.button-filter {
  padding: 6px 22px;
  border-radius: 4px;
  border: 1px solid transparent;

  font-family: 'Roboto', sans-serif;
  color: var(--primary-text-color);
  background-color: var(--bg-color-button);
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  cursor: pointer;

  transition-property: background-color color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-filter:hover,
.button-filter:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);

  transition-property: background-color color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/* --------------------------------------------------- */
.fl-result-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
  padding: 0;
}
.fl-result-list .result {
  margin: 15px;
}
.result {
  width: 370px;
  margin: 15px;
  border: 1px solid #eeeeee;

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.result:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-result {
  margin-bottom: 4px;

  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.filter-category {
  margin: 0;

  color: var(--paragraph-text-color);
  font-size: 16px;
  line-height: 1.9;
}
.card-profile {
  padding: 20px 24px;
}
.result-box {
  position: relative;
  overflow: hidden;
}

.result-overlay {
  display: inline-block;
  position: absolute;
  background-color: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;
  bottom: -100%;

  transition-property: bottom;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.result-overlay:hover {
  bottom: 0;

  transition-property: bottom;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.rusult-overlay-text {
  position: absolute;
  display: block;
  padding: 0;
  margin: 0;
  left: 24px;
  top: 63px;
  right: 24px;
  bottom: 63px;
  font-size: 18px;
  line-height: 1.56;
  color: var(--primary-white-color);
}

.result:hover .result-overlay {
  bottom: 0;
}
